h1 {
  color:#000000;
  text-align: center;
  line-height: 128px;
  background-color: rgb(222, 197, 255);
  background-repeat: no-repeat;
  margin: 0 ;
  font-size: 48px;
}
/*
*/
.main-menu {
  list-style-type: none;
}  
.main-menu li a{
  text-decoration: none;
}
nav{
  text-align: center;
}
.main-menu {
  list-style-type: none;
  margin: 0 ;
  padding: 0 ;
  background-color: rgb(184, 184, 184);
  line-height: 128px;
}
  
.main-menu li {
  display: inline-block;
  width: 128px;
}
  
.main-menu li a {
  text-decoration: none;
  padding: 5px ;
  color: #333;
}
  
nav ul li a:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(31, 31, 31);
}
body{
  text-align: center;
}
.gamescreen1{
  width: 960px;
  height: 540px;
}
h2{
  font-size: 48px;
  line-height: 32px;
}
p1{
  line-height: 32px;
  font-size: 24px;
}
.Play-video{
  width: 960px;
  height: 540px;
}