header {
  color:#000000;
  text-align: center;
  line-height: 128px;
  background-color: rgb(222, 197, 255);
  background-repeat: no-repeat;
  margin: 0 ;
  font-size: 48px;
}
/*
*/
.main-menu {
  list-style-type: none;
}  
.main-menu li a{
  text-decoration: none;
}
nav{
  text-align: center;
}
.main-menu {
  list-style-type: none;
  margin: 0 ;
  padding: 0 ;
  background-color: rgb(184, 184, 184);
  line-height: 128px;
}
  
.main-menu li {
  display: inline-block;
  width: 128px;
}
  
.main-menu li a {
  text-decoration: none;
  padding: 5px ;
  color: #333;
}
  
nav ul li a:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(31, 31, 31);
}
body{
  background-color: rgb(255, 230, 249);
  background-repeat: no-repeat;
}
.gamescreen1{
  width: 960px;
  height: 540px;
}
h2{
  font-size: 48px;
  line-height: 32px;
}
p1{
  line-height: 32px;
  font-size: 24px;
}
.Play-video{
  width: 960px;
  height: 540px;
}
footer{
  color:#000000;
  text-align: center;
  background-color: rgb(222, 197, 255);
  background-repeat: no-repeat;
  margin: 0px;
  padding-top: 4px;
  font-size: 16px;
  font-weight:bold;
}
main{
  margin-right: 0px;
  margin-left: auto;
  padding-right: 60px;
  width: 100%;
  max-width: 1080px;
  background-color: rgba(255, 186, 186, 0.397);
  text-align:center;
}
.Rsidebar{
  position: sticky;
  top:0px;
  width: 100%;
  max-width:400px;
  height:min-content;
  max-height: 600px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-right: 60px;
  background-color:#e952522f;
  text-align:left;
}
.overall{
  display:flex;
}
hrs1{
  font-size: 32px;
  font-weight:bold;
}
prs1{
  font-size: 24px;
}